# تجاهل مجلد __pycache__ داخل مجلد ai
ai/__pycache__/

# تجاهل المجلد الافتراضي للبيئة الافتراضية (venv)
venv/

# تجاهل مجلد students_faces
students_faces/


students_embeddings/

output/

# تجاهل ملفات الفيديو بصيغة MP4
*.mp4

*.npy

*.jpg


screenshots/
students_embeddings_from_mongodb.npy