albucore
albumentations
annotated-types
certifi
charset-normalizer
colorama
coloredlogs
contourpy
cycler
Cython
easydict
filelock
flatbuffers
fonttools
fsspec
humanfriendly
idna
imageio
insightface
Jinja2
joblib
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mpmath
networkx
numpy
onnx
onnxruntime
opencv-python
opencv-python-headless
packaging
pillow
prettytable
protobuf
pydantic
pydantic_core
pyparsing
pyreadline3
python-dateutil
PyYAML
requests
scikit-image
scikit-learn
scipy
setuptools
simsimd
six
stringzilla
sympy
threadpoolctl
tifffile
torch
torchvision
tqdm
typing_extensions
urllib3
wcwidth
ultralytics
flask
fastapi
pymongo
